body {
  margin: 8px;
}

#mapid {
  height: calc(100vh - 16px);
}

#overlays {
  position: absolute;
  top: 0;
  margin: 8px;
  z-index: 10000;
  width: 60vw;
  margin-left: 20vw;
}

path {
  stroke: #1175FF;
  stroke-width: 2px;
  opacity: .8;

  transition: stroke .2s, stroke-width .2s;
  transition-timing-function: ease-in;
}

path.selected {
  stroke: #FF9F00;
  stroke-width: 2px;

  transition: stroke .2s, stroke-width .2s;
  transition-timing-function: ease-out;
}

path.hover {
  stroke-width: 4px;
  transition: stroke-width .2s;
  transition-timing-function: ease;
  opacity: 1;
}

path.hidden {
  opacity: 0;
  stroke-width: 20px;
}

.walk-details {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-height: 50%;

    width:100%;
    margin-top:10px;
}

.walk-details.empty .title {
  font-size: 12px;
  font-weight: normal;
  color: #777;
}

.walk-details div {
  text-align: center;
}

.walk-details .title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 2px;
}

.walk-details .distance {
  color: #777;
}

.walk-details .info {
  text-align: center;
  font-size: 12px;
  color: #777;
  padding-bottom: .5em;
}

.walk-details .details {
  display: block;
  text-align: center;
}


.global-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    width:100%;

    text-align: center;

    margin-top:10px;
}

.global-info .title {
  font-size: 16px;
  font-weight: bold;
}

.global-info .distance {
  color: #777;
  font-size: 12px;
}

a.participant {
  color: #1175FF;
  cursor: pointer;
}

a.participant:hover {
  color: #FF9F00;
}
