body {
  margin: 0px;
}

#walks-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map-container {
  height: 100%;
  flex-shrink: 1;
}

#overlays {
  position: absolute;
  top: 0;
  margin: 8px;
  z-index: 10000;
  height:100%;
  width:100%;
  margin: 0;
  pointer-events: none;
}
